In [1]:

# This part of the code is importing libraries to use
import matplotlib.pyplot as plt
import matplotlib.animation as animation
import wbdata
import requests
import pandas as pd
from datetime import datetime


# This part of the code is making the request to the worldbank API and saving it as a pandas data frame 
country_codes_requested = ["USA", "DEU", "CHN", "AUS", "NGA", "BRA"]
all_data = []
for country in country_codes_requested:
    country_url = f"https://api.worldbank.org/v2/country/{country}/indicator/NY.GNP.PCAP.PP.CD?format=json"
    response = requests.get(country_url).json()
    if len(response) > 1 and response[1] is not None:
        all_data.extend(response[1])
df = pd.DataFrame(all_data)


# This part of the code is cleaning up the data and making it usable 
# Keep only relevant columns
df = df[['country', 'countryiso3code', 'date', 'value']]

# Convert 'country' column from a dictionary to a string
df['country'] = df['country'].apply(lambda x: x['value'] if isinstance(x, dict) else x)

# Drop rows with missing GNI values
df = df.dropna(subset=['value'])
df = df.drop(columns=['countryiso3code'])
# Convert 'date' to an integer
df['date'] = df['date'].astype(int)
df['value'] = df['value'].astype(int)

# This code is renaming the columns so that they all make more sense 
df.rename(columns={"country": "Country"}, inplace=True)
df.rename(columns={"date": "Years"}, inplace=True)
df.rename(columns={"value": "Population"}, inplace=True)

# Sort by country and year
df = df.sort_values(by=['Country', 'Years'])


# This part of the code creates the animation 
# Sort years for animation frames
years = sorted(df['Years'].unique())

       Country  Years  Population
183  Australia   1990       16780
182  Australia   1991       17120
181  Australia   1992       17550
180  Australia   1993       18710
179  Australia   1994       19730