In [3]:
import wbdata
import requests
import pandas as pd
from datetime import datetime

# This will give you a variable that refers to the  indicator of total population of each country, 
# it is a wbdata.client.SearchResult, with this we can 
indicator = wbdata.get_indicators('SP.POP.TOTL')

# Here the countries that I want to be included in my search have been listed, if I wanted to
# use all of them I would just use "all"
countries = ["USA", "CHN", "FRA"]

# Here I am defining the time range that I want to be used.
#start_date = datetime(2000, 1, 1)  # this numbers reflect ( year, month, day )
#end_date = datetime(2023, 12, 31)

# Fetch data from the World Bank API
df = wbdata.get_dataframe({"SP.POP.TOTL" : "Population, total"}, country=["FRA","USA"], date = ( "1960", "2025") )
df.head()

              Population, total
country date
France  2023         68287487.0
        2022         68065015.0
        2021         67842811.0
        2020         67601110.0
        2019         67382061.0

In [5]:
df = df.reset_index()
df.head()

   index country  date  Population, total
0      0  France  2023         68287487.0
1      1  France  2022         68065015.0
2      2  France  2021         67842811.0
3      3  France  2020         67601110.0
4      4  France  2019         67382061.0

In [6]:
df = df.reset_index()
df = df.rename(columns={"date": "Year", "country": "Country", "Population, total": "Population"})
df.head()

   index Country  Year  Population
0      0  France  2023  68287487.0
1      1  France  2022  68065015.0
2      2  France  2021  67842811.0
3      3  France  2020  67601110.0
4      4  France  2019  67382061.0

In [11]:
df = df.reset_index()
df = df.rename(columns={"date": "Year", "country": "Country", "Population, total": "Population"})
df["Year"] = df["Year"].astype(int)
df["Population"] = pd.to_numeric(df["Population"], errors="coerce")
df["Population"] = df["Population"].astype(int)
df.info

<bound method DataFrame.info of      index        Country  Year  Population
0        0         France  2023    68287487
1        1         France  2022    68065015
2        2         France  2021    67842811
3        3         France  2020    67601110
4        4         France  2019    67382061
..     ...            ...   ...         ...
123    123  United States  1964   191889000
124    124  United States  1963   189242000
125    125  United States  1962   186538000
126    126  United States  1961   183691000
127    127  United States  1960   180671000

[128 rows x 4 columns]>

In [10]:
df = df.reset_index()
df = df.rename(columns={"date": "Year", "country": "Country", "Population, total": "Population"})
df["Year"] = df["Year"].astype(int)
df["Population"] = pd.to_numeric(df["Population"], errors="coerce")
df["Population"] = df["Population"].astype(int)
df = df.dropna()
df.info

<bound method DataFrame.info of      index        Country  Year  Population
0        0         France  2023    68287487
1        1         France  2022    68065015
2        2         France  2021    67842811
3        3         France  2020    67601110
4        4         France  2019    67382061
..     ...            ...   ...         ...
123    123  United States  1964   191889000
124    124  United States  1963   189242000
125    125  United States  1962   186538000
126    126  United States  1961   183691000
127    127  United States  1960   180671000

[128 rows x 4 columns]>

In [12]:
df = df.reset_index()
df = df.rename(columns={"date": "Year", "country": "Country", "Population, total": "Population"})
df["Year"] = df["Year"].astype(int)
df["Population"] = pd.to_numeric(df["Population"], errors="coerce")
df["Population"] = df["Population"].astype(int)
df = df.dropna()
df = df.sort_values(by=["Country", "Year"])
df.head()

    index Country  Year  Population
63     63  France  1960    47412964
62     62  France  1961    47905982
61     61  France  1962    48389516
60     60  France  1963    48877567
59     59  France  1964    49401492

In [15]:
df.columns

Index(['Country', 'Year', 'Population'], dtype='object')