In [5]:
import matplotlib.pyplot as plt
import matplotlib.animation as animation
import wbdata
import requests
import pandas as pd
from datetime import datetime

# This will give you a variable that refers to the  indicator of total population of each country, 
# it is a wbdata.client.SearchResult, with this we can 
indicator = wbdata.get_indicators('SP.POP.TOTL')

# Fetch data from the World Bank API
df = wbdata.get_dataframe({"SP.POP.TOTL" : "Population, total"}, country=["NGA","USA","CHN","DEU", "BRA","AUS", ], date = ( "1960", "2025") )

# This is cleaning the data so it is ready to be used 

df = df.reset_index()
df = df.rename(columns={"date": "Years", "country": "Country", "Population, total": "Population"})
df["Years"] = df["Years"].astype(int)
df["Population"] = pd.to_numeric(df["Population"], errors="coerce")
df["Population"] = df["Population"].astype(int)
df = df.dropna()
df = df.sort_values(by=["Country", "Years"])
df.h()

           Country  Years  Population
324  United States   2019   328329953
323  United States   2020   331526933
322  United States   2021   332048977
321  United States   2022   333271411
320  United States   2023   334914895