In [2]:
import requests
import pandas as pd

In [3]:
country_codes_requested = ["USA", "DEU", "CHN", "AUS", "NGA", "BRA"]
all_data = []
for country in country_codes_requested:
    country_url = f"https://api.worldbank.org/v2/country/{country}/indicator/NY.GNP.PCAP.PP.CD?format=json"
    response = requests.get(country_url).json()
    if len(response) > 1 and response[1] is not None:
        all_data.extend(response[1])

df = pd.DataFrame(all_data)

df.head()

,indicator,country,countryiso3code,date,value,unit,obs_status,decimal
0,"{'id': 'NY.GNP.PCAP.PP.CD', 'value': 'GNI per ...","{'id': 'US', 'value': 'United States'}",USA,2023,82340.0,,,0
1,"{'id': 'NY.GNP.PCAP.PP.CD', 'value': 'GNI per ...","{'id': 'US', 'value': 'United States'}",USA,2022,78710.0,,,0
2,"{'id': 'NY.GNP.PCAP.PP.CD', 'value': 'GNI per ...","{'id': 'US', 'value': 'United States'}",USA,2021,71770.0,,,0
3,"{'id': 'NY.GNP.PCAP.PP.CD', 'value': 'GNI per ...","{'id': 'US', 'value': 'United States'}",USA,2020,64720.0,,,0
4,"{'id': 'NY.GNP.PCAP.PP.CD', 'value': 'GNI per ...","{'id': 'US', 'value': 'United States'}",USA,2019,66290.0,,,0

In [4]:
# Keep only relevant columns
df = df[['country', 'countryiso3code', 'date', 'value']]

# Convert 'country' column from a dictionary to a string
df['country'] = df['country'].apply(lambda x: x['value'] if isinstance(x, dict) else x)

# Drop rows with missing GNI values
df = df.dropna(subset=['value'])
df = df.drop(columns=['countryiso3code'])
# Convert 'date' to an integer
df['date'] = df['date'].astype(int)
df['value'] = df['value'].astype(int)
# Sort by country and year
df = df.sort_values(by=['country', 'date'])

In [6]:
df.tail()

         country  date  value
4  United States  2019  66290
3  United States  2020  64720
2  United States  2021  71770
1  United States  2022  78710
0  United States  2023  82340

In [ ]:
def update(year):
    ax.clear()
    df_year = df[df['Years'] == year].sort_values(by='Population', ascending=True)  # Sort for better visualization
    
    df_year['Population'] = df_year['Population'] / 1000000  
   
    ax.barh(df_year['Country'], df_year['Population'])  # Horizontal bar chart
    ax.set_xlabel('Population (millions)')
    ax.set_ylabel('Country')
    ax.set_title(f'Population by Country in {year}')
    #ax.set_xlim(0, df['Population'].max() * 1.1000000)  # Set consistent x-axis range for clarity
       # Format x-axis to force numbers to show in millions
    ax.ticklabel_format(axis='x', style='plain')
# Create animation
ani = animation.FuncAnimation(fig, update, frames=years, interval=1000, repeat=True)

# Save as MP4 file
ani.save('Big7.mp4', writer='ffmpeg', fps=4)